<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tienda sebas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
	crossorigin="anonymous">
	<link
	href="css/style.css"
	rel="stylesheet"
	>
	
</head>
<body>
	<!-- As a heading -->
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      TIENDA SEBAS
    </a>
  </div>
	</nav>
	<div class="container mt-4 content">
		<div class="row">
			<div class="col-md-3 mb-4">
				<div class="card">
					<img src="https://via.placeholder.com/300" class="card-img-top" alt="Borderlands 3">
					<div class="card-body">
						<h5 class="card-title">Borderlands 3</h5>
						<p class="card-text">A principios de 2020, apenas unos meses después de su lanzamiento, Borderlands 3 introdujo una actualización atípica. Lejos de añadir nuevos personajes o escenarios, lo único que sumó a la experiencia del juego de Gearbox fue una simple máquina recreativa. Una suerte de minijuego a lo Candy Crush que estaba lejos de convertirse en una excusa para seguir vendiendo copias del juego, pero un añadido que se transformaría en una revolución para la ciencia.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 mb-4">
				<div class="card">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQgnItbNHwgVv7aeHN4-qRnIc09IpdAYsqeQMerKY5Yli1z-3S56Y0rD-y9KnLBZ5YbljxMrGI8LMkvTiTKU9E1PdqcgvIm8G52lM48f07XrA" class="card-img-top" alt="Call of Duty">
					<div class="card-body">
						<h5 class="card-title">Call of Duty: Warzone Caldera Videojuego</h5>
						<p class="card-text">Call of Duty: Warzone fue un videojuego de disparos en primera persona, perteneciente al género Battle royale gratuito, lanzado el 10 de marzo de 2020 para PlayStation 4, PlayStation 5, Xbox One, Xbox Series X|S y Microsoft Windows</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 mb-4">
				<div class="card">
					<img src="https://via.placeholder.com/300" class="card-img-top" alt="Candy Crush">
					<div class="card-body">
						<h5 class="card-title">Candy Crush</h5>
						<p class="card-text">Candy Crush Saga es un videojuego de combinación de fichas gratuito desarrollado por King. Fue lanzado el 12 de abril de 2012, originalmente para Facebook; le siguieron otras versiones para iOS, Android, Windows Phone y Windows 10. Es una variación de su videojuego de navegador Candy Crush.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 mb-4">
				<div class="card">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRV9JYDWR8jzHZ7ABle7evqKKbodQtD6LiRL27TOqfIPvn_Uv0eb92xDt5xLFcvj-X0Ty983R8W4lS2UokpeJ8FBZUy2l9l1WiIFEiLTr3yaw" class="card-img-top" alt="Mario Kart">
					<div class="card-body">
						<h5 class="card-title">Mario Kart</h5>
						<p class="card-text">Mario Kart es una serie de videojuegos de carreras desarrollados y distribuidos por Nintendo como spin-offs de su marca registrada Super Mario y cuentan con la aparición de los personajes de la franquicia de Mario.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
</body>
</html>